@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #ffffff; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-width: 100dvw !important;
  min-height: 100dvh !important;
  width: 100dvw !important;
  height: 100dvh !important;
  margin: 0px;
  padding: 0px;
}
#root {
  min-width: 100dvw !important;
  min-height: 100dvh !important;
  width: 100dvw !important;
  height: 100dvh !important;
  margin: 0px;
  padding: 0px;
}
